In [16]:
import pandas as pd
import numpy as np
import subprocess
from datetime import date
import calendar
import bandit.main as bd

In [17]:
def set_cohorts(source_df, score_col):
    cohort_size = 3
    cohort_size_2 = cohort_size**2
    cohort_size_3 = cohort_size**3

    # break out distinct scores
    uniq_list = source_df[score_col].unique()
    df = pd.DataFrame({score_col : uniq_list}).sort_values(score_col, ascending=True)
    df = df.sort_values (score_col)
    df = df.reset_index (drop=True)
    
    if len (df) > cohort_size:
        grp_size = len (df) / cohort_size
        df['cohort1'] = df.index // grp_size

    if len (df) > cohort_size_2:
        grp_size = len (df) / cohort_size_2
        df['cohort2'] = df.index // grp_size
        
    if len (df) > cohort_size_3:
        grp_size = len (df) / cohort_size_3
        df['cohort3'] = df.index // grp_size

    return df

In [18]:
def df_bandit_class(df, classname):
    dfgb = df.groupby([classname])
    dfgb = dfgb['Quality'].agg(['count','mean', 'var']).reset_index()
    dfgb['total'] = dfgb['count'].sum()
    dfgb['donext'] = dfgb.apply(lambda x: bd.get_tuned_ucb(x, 'mean', 'var'), axis=1).fillna(999)
    foo = dfgb.sort_values('donext', ascending=False)
    return foo

In [19]:
def df_search(df_in, cohort):
    if not cohort in df_in:
        return df_in

    df_class = df_bandit_class(df_in, cohort)
    print(df_class)
    next_class = df_class.iloc[0, 0]
    if df_in['Complete'].isnull().sum() > 0:
        df_filtered = df_in[df_in[cohort] == next_class]
    else:
        df_filtered = df_in

    return df_filtered

In [20]:
def rate_calc(df):
    pedal_time = df['Goal'] * df['seconds']
    rest_time = (df['Goal'] - 1) * 15
    total_time = pedal_time + rest_time
    rate = pedal_time / total_time
    score = pedal_time * rate
    return int(score)

In [21]:
currDate = date.today()
list = [[x, y] for x in range(1,31) for y in [30,45,60,90,120]]

In [22]:
df = pd.DataFrame.from_records(list).rename(index=str, columns={0: "Goal", 1: "seconds"})
df['Date'] = currDate
df['Complete'] = np.nan
df = df[['Date','Goal','seconds','Complete']]
# df.to_excel('Outputtest.xlsx')
sheet_info = pd.read_excel(io='BikeGoals.xlsx')
df = df.append(sheet_info).reset_index(drop=True)

In [23]:
df['Value'] = df.apply(rate_calc, axis=1)
val_df = set_cohorts(df, 'Value')
df = df.merge(val_df, on='Value')

In [24]:
subprocess.Popen('BikeGoals.xlsx', shell=True)

In [25]:
# todo - score partial runs
df['Score'] = np.where(df['Complete'] >= df['Goal'], df['Value']**1.2, 0)
df.loc[df['Complete'].isnull(), 'Score'] = np.NaN
df['Class'] = df['Goal'].map(str) + '-' + df['seconds'].map(str)
df = bd.reduce(df,'Class')

6 0.985 6

In [26]:
df_quality = bd.get_quality(df['Score'])
df = df.join(df_quality)

In [27]:
df_step1 = df_search(df,'cohort1')
df_step1

   cohort1  count      mean       var  total    donext
0     -0.0      3  0.529963  0.224157      6  0.916374
1      1.0      1  0.000000       NaN      6  0.669283
2      2.0      2  0.000000  0.000000      6  0.473255

,Date,Goal,seconds,Complete,Value,cohort1,cohort2,cohort3,Score,Class,Quality
0,2018-10-07,1,30,NaN,30,-0.0,-0.0,-0.0,NaN,1-30,NaN
1,2018-09-14 00:00:00,1,30,1.0,30,-0.0,-0.0,-0.0,59.230515,1-30,0.053168
2,2018-10-07,1,45,NaN,45,0.0,0.0,0.0,NaN,1-45,NaN
3,2018-10-07,1,60,NaN,60,0.0,0.0,0.0,NaN,1-60,NaN
4,2018-10-07,1,90,NaN,90,0.0,0.0,1.0,NaN,1-90,NaN
5,2018-10-07,1,120,NaN,120,0.0,0.0,2.0,NaN,1-120,NaN
6,2018-10-07,2,30,NaN,48,0.0,0.0,0.0,NaN,2-30,NaN
7,2018-10-07,2,45,NaN,77,0.0,0.0,0.0,NaN,2-45,NaN
8,2018-10-07,2,60,NaN,106,0.0,0.0,1.0,NaN,2-60,NaN
9,2018-10-07,2,90,NaN,166,0.0,0.0,2.0,NaN,2-90,NaN
10,2018-10-07,8,30,NaN,166,0.0,0.0,2.0,NaN,8-30,NaN
11,2018-10-07,2,120,NaN,225,0.0,1.0,4.0,NaN,2-120,NaN
12,2018-10-07,3,30,NaN,67,0.0,0.0,0.0,NaN,3-30,NaN
13,2018-10-07,3,45,NaN,110,0.0,0.0,1.0,NaN,3-45,NaN
14,2018-10-07,3,60,NaN,154,0.0,0.0,2.0,NaN,3-60,NaN
15,2018-10-07,3,90,NaN,243,0.0,1.0,4.0,NaN,3-90,NaN
16,2018-10-07,3,120,NaN,332,0.0,2.0,6.0,NaN,3-120,NaN
17,2018-10-07,4,30,NaN,87,0.0,0.0,1.0,NaN,4-30,NaN
18,2018-10-07,4,45,NaN,144,0.0,0.0,2.0,NaN,4-45,NaN
19,2018-10-07,4,60,NaN,202,0.0,1.0,3.0,NaN,4-60,NaN
20,2018-10-07,4,90,NaN,320,0.0,2.0,6.0,NaN,4-90,NaN
21,2018-10-07,4,120,NaN,438,0.0,2.0,8.0,NaN,4-120,NaN
22,2018-10-07,5,30,NaN,107,0.0,0.0,1.0,NaN,5-30,NaN
23,2018-10-07,5,45,NaN,177,0.0,1.0,3.0,NaN,5-45,NaN
24,2018-10-07,5,60,NaN,250,0.0,1.0,4.0,NaN,5-60,NaN
25,2018-10-07,5,90,NaN,397,0.0,2.0,7.0,NaN,5-90,NaN
27,2018-10-07,6,30,NaN,127,0.0,0.0,2.0,NaN,6-30,NaN
28,2018-10-07,6,45,NaN,211,0.0,1.0,3.0,NaN,6-45,NaN
29,2018-10-07,6,60,NaN,297,0.0,1.0,5.0,NaN,6-60,NaN
32,2018-10-07,7,30,NaN,147,0.0,0.0,2.0,NaN,7-30,NaN
33,2018-10-07,7,45,NaN,245,0.0,1.0,4.0,NaN,7-45,NaN
34,2018-10-07,7,60,NaN,345,0.0,2.0,6.0,NaN,7-60,NaN
37,2018-10-07,8,45,NaN,278,0.0,1.0,5.0,NaN,8-45,NaN
38,2018-10-07,8,60,NaN,393,0.0,2.0,7.0,NaN,8-60,NaN
41,2018-10-07,9,30,NaN,186,0.0,1.0,3.0,NaN,9-30,NaN
42,2018-10-07,9,45,NaN,312,0.0,2.0,6.0,NaN,9-45,NaN
43,2018-10-07,9,60,NaN,441,0.0,2.0,8.0,NaN,9-60,NaN
46,2018-10-07,10,30,NaN,206,0.0,1.0,3.0,NaN,10-30,NaN
47,2018-10-06 00:00:00,10,30,10.0,206,0.0,1.0,3.0,597.916674,10-30,0.536722
48,2018-10-07,10,45,NaN,346,0.0,2.0,6.0,NaN,10-45,NaN
49,2018-10-07,17,30,NaN,346,0.0,2.0,6.0,NaN,17-30,NaN
50,2018-10-07 00:00:00,10,45,10.0,346,0.0,2.0,6.0,1114.015718,10-45,1.000000
55,2018-10-07,11,30,NaN,226,0.0,1.0,4.0,NaN,11-30,NaN
56,2018-10-07,11,45,NaN,379,0.0,2.0,7.0,NaN,11-45,NaN
60,2018-10-07,12,30,NaN,246,0.0,1.0,4.0,NaN,12-30,NaN
61,2018-10-07,12,45,NaN,413,0.0,2.0,8.0,NaN,12-45,NaN
65,2018-10-07,13,30,NaN,266,0.0,1.0,5.0,NaN,13-30,NaN
71,2018-10-07,14,30,NaN,286,0.0,1.0,5.0,NaN,14-30,NaN
77,2018-10-07,15,30,NaN,306,0.0,1.0,5.0,NaN,15-30,NaN
82,2018-10-07,16,30,NaN,326,0.0,2.0,6.0,NaN,16-30,NaN
91,2018-10-07,18,30,NaN,366,0.0,2.0,7.0,NaN,18-30,NaN
96,2018-10-07,19,30,NaN,386,0.0,2.0,7.0,NaN,19-30,NaN
101,2018-10-07,20,30,NaN,406,0.0,2.0,8.0,NaN,20-30,NaN
106,2018-10-07,21,30,NaN,426,0.0,2.0,8.0,NaN,21-30,NaN
111,2018-10-07,22,30,NaN,446,0.0,2.0,8.0,NaN,22-30,NaN

In [28]:
df_step2 = df_search(df_step1,'cohort2')
df_step2

   cohort2  count      mean  var  total    donext
2      2.0      1  1.000000  NaN      3  1.524074
1      1.0      1  0.536722  NaN      3  1.060795
0     -0.0      1  0.053168  NaN      3  0.577242

,Date,Goal,seconds,Complete,Value,cohort1,cohort2,cohort3,Score,Class,Quality
16,2018-10-07,3,120,NaN,332,0.0,2.0,6.0,NaN,3-120,NaN
20,2018-10-07,4,90,NaN,320,0.0,2.0,6.0,NaN,4-90,NaN
21,2018-10-07,4,120,NaN,438,0.0,2.0,8.0,NaN,4-120,NaN
25,2018-10-07,5,90,NaN,397,0.0,2.0,7.0,NaN,5-90,NaN
34,2018-10-07,7,60,NaN,345,0.0,2.0,6.0,NaN,7-60,NaN
38,2018-10-07,8,60,NaN,393,0.0,2.0,7.0,NaN,8-60,NaN
42,2018-10-07,9,45,NaN,312,0.0,2.0,6.0,NaN,9-45,NaN
43,2018-10-07,9,60,NaN,441,0.0,2.0,8.0,NaN,9-60,NaN
48,2018-10-07,10,45,NaN,346,0.0,2.0,6.0,NaN,10-45,NaN
49,2018-10-07,17,30,NaN,346,0.0,2.0,6.0,NaN,17-30,NaN
50,2018-10-07 00:00:00,10,45,10.0,346,0.0,2.0,6.0,1114.015718,10-45,1.0
56,2018-10-07,11,45,NaN,379,0.0,2.0,7.0,NaN,11-45,NaN
61,2018-10-07,12,45,NaN,413,0.0,2.0,8.0,NaN,12-45,NaN
82,2018-10-07,16,30,NaN,326,0.0,2.0,6.0,NaN,16-30,NaN
91,2018-10-07,18,30,NaN,366,0.0,2.0,7.0,NaN,18-30,NaN
96,2018-10-07,19,30,NaN,386,0.0,2.0,7.0,NaN,19-30,NaN
101,2018-10-07,20,30,NaN,406,0.0,2.0,8.0,NaN,20-30,NaN
106,2018-10-07,21,30,NaN,426,0.0,2.0,8.0,NaN,21-30,NaN
111,2018-10-07,22,30,NaN,446,0.0,2.0,8.0,NaN,22-30,NaN

In [29]:
df_step3 = df_search(df_step2,'cohort3')
df_step3

   cohort3  count  mean  var  total  donext
1      7.0      0   NaN  NaN      1   999.0
2      8.0      0   NaN  NaN      1   999.0
0      6.0      1   1.0  NaN      1     1.0

,Date,Goal,seconds,Complete,Value,cohort1,cohort2,cohort3,Score,Class,Quality
25,2018-10-07,5,90,NaN,397,0.0,2.0,7.0,NaN,5-90,NaN
38,2018-10-07,8,60,NaN,393,0.0,2.0,7.0,NaN,8-60,NaN
56,2018-10-07,11,45,NaN,379,0.0,2.0,7.0,NaN,11-45,NaN
91,2018-10-07,18,30,NaN,366,0.0,2.0,7.0,NaN,18-30,NaN
96,2018-10-07,19,30,NaN,386,0.0,2.0,7.0,NaN,19-30,NaN

In [30]:
df_bandit_class(df_step3, 'Class')

   Class  count  mean  var  total  donext
0  11-45      0   NaN  NaN      0   999.0
1  18-30      0   NaN  NaN      0   999.0
2  19-30      0   NaN  NaN      0   999.0
3   5-90      0   NaN  NaN      0   999.0
4   8-60      0   NaN  NaN      0   999.0